body, div{
    font-family: sans-serif;
    color : rgb(25,123,224);
}
#idP, .classText{
    color : rgb(0,223,24);
    background-color: #FFFF00;
    font-size: 10px;
}
a{
    color : rgb(0,0,224);
    text-decoration: none;
}